* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans";
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 70px;
}
main {
  height: auto;
}
.snackBar {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  width: 15%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-image: radial-gradient(
    circle 851px at 79.7% -27.8%,
    rgba(153, 230, 77, 1) 6.9%,
    rgba(204, 255, 153, 1) 44.7%,
    rgba(102, 178, 51, 1) 75.4%,
    rgba(51, 102, 26, 1) 95.3%
  );

  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* When snackBar is active */
.snackBar.show {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 700px) {
  .snackBar {
    width: 50%;
  }
}



/* Best Selling */
.sellingSearching {
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: row-reverse;
}
#BestSelling {
  height: 100%;
  width: 70%;
  border-left: 1px solid lightslategray;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Heading-Image h1 {
  font-size: 3em;
}

#Heading-Image {
  display: flex;
  width: 100%;
  z-index: -999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
  height: 100%;
  align-items: baseline;
  margin: 0 auto;
}
@media (max-width: 700px) {
  #cardsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .ImageContent h5,
  .ImageContent p {
    font-size: 2.5em !important;
  }
}
.ImageCard {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.ImageCard img {
  height: 50vh;
  width: 100%;
  object-fit: contain;
  margin: 0;
  padding: 0;
  /* display: block; */
  /* height: auto;*/
}
.Stars i {
  font-size: 1.5em;
}

.ImageContent {
  margin: 0;
  padding: 0;
  /* min-height: 40%; */
  /* max-height: max-content; */
  /* gap: 9%; */
  height: 40vh;
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: beige;
}
.ImageContent p {
  color: grey;
  font-size: 1.5vw;
}
.ImageContent h5 {
  font-size: 1.5vw;
}
.quantity {
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}
.QuantityBtn {
  outline: none;
  border: 1px solid lightgray;
  border-right: none;
  border-left: none;
  height: 40px;
  border-radius: 5px;
  width: 20%;
  transition: background-color 0.2s ease-in-out;
}
.QuantityBtn:hover {
  background-color: rgb(54, 95, 54);
}
.QuantityBtn i {
  color: #04790c; /* Default color */
}
.QuantityBtn:hover i {
  color: white;
}
.ShowQuantity {
  outline: none;
  border: 1px solid lightgray;
  border-right: none;
  border-left: none;
  text-align: center;
  height: 40px;
  width: 20%;
}

.QuantityBtn {
  outline: none;
  border: 1px solid lightgray;
  border-right: none;
  border-left: none;

  height: 40px;
  width: 20%;
}
.description {
  text-align: center;
}
.productsContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.productsContainer img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  display: block;
}
.productsContainer p {
  color: grey;
  font-size: 1.3vw;
}
/* Search -filer side bar */
.SearchingFiltering {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  gap: 5%;
  justify-content: flex-start;
}
@media (max-width: 700px) {
  .SearchingFiltering {
    display: none;
  }
  #BestSelling {
    width: 100%;
  }
}

.inputSearch {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6%;
  align-items: flex-start;
  padding: 5%;
}
.inputSearch input,
button {
  height: 40px;
  cursor: pointer;

  outline: none;
}
#RangeValue {
  width: 50%;
}
#RangeValue1 {
  width: 50%;
}
.add-to-cart {
  cursor: pointer;
  background-color: #235823;
  border: none;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 30%;
  outline: none;
}
.inputSearch input {
  padding: 3px;
  width: 100%;
}
.priceContainer {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: end;
  align-items: center;
}
.priceContainer input {
  width: 20%;
  height: 100%;
}
#QuickLinks {
  height: auto;
  width: 100vw;
  background-color: black;
  color: gray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: static;
  justify-items: center;
  padding: 20px;
}
#QuickLinks p {
  font-size: 20px;
}
#QuickLinks h1 {
  color: white;
  font-size: 30px;
}
.QuickLinks2 h1,
.QuickLinks2 p {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 10px;
}
.Quick h1,
.Quick p {
  margin: 20px;
}
#SocialMedia {
  border-top: 2px solid gray;
  padding: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: auto;
  width: 100%;
  color: gray;
  background-color: black;
  min-height: 20vh;
  margin: 0;
}
#SocialMedia a i {
  color: white;
  width: 20px;
  height: 30px;
}
.icon-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
@media (max-width: 600px) {
  #QuickLinks,
  .QuickLinks2 {
    display: flex;
    width: 100vw;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .ImageCard {
    width: 90%;
  }
}
